@charset "utf-8";
/* CSS Document */

.bienvenidos{
	font-size:17px;
	color:black;
	text-decoration:none;
	padding:0%;
	font-weight:bold;
}	

.letras{
	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	text-decoration:none;
}

.h1{
	font-size: 2em;
	font-family: sans-serif;
	background-color: rgba(205, 38, 26, 1);
	color: white;
}
/* -- Inicio de la tabla de cursos Administrador */
.centrado{
	margin-left: 10%;
}

.trestructura1{
	color:rgba(255,255,255,1);	
	text-align: justify;
}	

.tdestructura{
	padding:1%;
	width:10%;
	text-align:center;
	text-decoration:none;
}

.tdestructura1{
	padding:2%;
	width:50%;
	text-align:center;
}

.tdestructura2{
	padding:1%;
	width:50%;
	text-align:justify;
}

 
/*-- Tamaño de la imagen --*/

.img1 {
	width:50%;
	max-width:300px;
}

.input3{
	width:100%;
}

/* Estilo para que la tabla se coloque del tamaño del monitor */
.table { 
 	border-collapse: collapse; 
}

.td1 { 
	padding: 6px; 
	border: 1px solid #000; 
}


@media only screen and (max-width: 600px), (min-device-width: 768px) and (max-device-width: 1024px) {
	
.img1 {
	width:30%;
}
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 

	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*	Label the data	*/
	#no-more-tables td:before { content: attr(data-title); }
}

/* Ancho Max antes de esta tabla PARTICULAR
Esta consulta se llevará a efecto por cualquier pantalla más pequeña que 760px
y iPads específicamente */
/*@media only screen and (max-width: 480px), (min-device-width: 768px) and (max-device-width: 1024px)  {*/
	/*Hacer que la tabla ya no se vea como una tabla*/
	/*table, thead, tbody, th, td, tr { 
		display: block; 

	}
	
	.img1 {
	width:20%;
	max-width:300px;
	margin-left: 30%;
}*/
	/* Oculta la cabecera de la tabla  */
	/*thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}*/
	
	/*tr { border: 1px solid #000; }*/
	
	/*td { */
		/* Hacer que los campos se comporten como filas*/
		/*border: none;
		border-bottom: 1px solid #000; 
		position: relative;
		padding-left: 50%; 
		font-size: 11px;
	}*/
	
	/*td:before { */
		/* encabezado de la tabla */
		/*position: absolute;*/
		/* cima izquierda imitan el relleno */
		/*top: 6px;
		left: 6px;
		width: 45%; 
		white-space: nowrap;
		padding-right: 10px;

	}*/
	
	/*	Se le colocan el titulo que va tener cada uno de los campos de la tabla	*/
	/*td:nth-of-type(1):before { content: "#"; }
	td:nth-of-type(2):before { content: "Nombre"; }
	td:nth-of-type(3):before { content: "Descripción"; }
	td:nth-of-type(4):before { content: "Estado"; }
	td:nth-of-type(5):before { content: "Modificar"; }
	td:nth-of-type(6):before { content: "Eliminar"; }
}*/



.estadoactivado{
	color:rgba(51, 87, 143, 0.5);
	font-weight: bold;
}

.estadodesactivado{
	color:rgba(172, 30, 31, 0.9);
	font-weight: bold;
}

.datagrid 
	table thead th {
		background-color: rgba(242,246,248,1);
		color:black; 
	} 
.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a {
	text-decoration: none; 
	display: inline-block; 
	padding: 2px 8px; 
	margin: 1%;
	color: #F5F5F5;
	border: 1px solid #8C8C8C;
	-webkit-border-radius: 1%; 
	-moz-border-radius: 1%; 
	border-radius: 1%; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
 	text-decoration: none;
 	border-color: #7D7D7D;
 	color: #F5F5F5; 
 	background: none; 
 	background-color:#8C8C8C;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv {
 	position: fixed !important; 
}


.ventana table thead th {
		background-color: white;
		color:black; 
	} 
.ventana table tfoot  li { 
	display: inline; 
}
.ventana table tfoot li a {
	text-decoration: none; 
	 
	padding: 2px 8px; 
	color: #F5F5F5;
	-webkit-border-radius: 1%; 
	-moz-border-radius: 1%; 
}
.ventana table tfoot ul.active, .ventana table tfoot ul a:hover {
 	text-decoration: none;
 	border-color: #7D7D7D;
 	color: #F5F5F5; 
 	background: none; 
 	background-color:#8C8C8C;
}
/*-- Fin de la tabla de cursos*/

/*Inicio para el contenido de cuantas personas hay por curso*/
.p{
	font-weight: bold;
	font-size: 0.9em;
}

.tamano{
	margin-right: 25%;
}
.tamano1{
	margin-left: 2.5%;
}

.input2{
	width:62%;
}
/*Fin*/


/* Inicio de la tabla de insertar curso*/

.imagen td a{
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url(../images/informacion.jpg);
    position: relative;
	text-decoration:none;
}

.imagen td a span{
	font-size:13px;
	text-decoration:none;
    width: 130px;
    height:200px;
    line-height: 18px;
    left: 100%;
    text-align:center;
    border: 2px solid  rgba(0,0,0,1);
	background-color: rgba(51,51,51,1);
	color:rgba(255,255,255,1);
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    bottom:50px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
	margin-bottom: -78px;
}

.imagen td a:hover span{
    opacity: 10;
    bottom: 70%;
	text-decoration:none;
}

.img2{
	width: 5%;
	height: 5%;
	margin-left: 45%;
	margin-right: 35%;
}

.h2 {
	text-align: center;
}

.imagen1 th a{
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url(../images/informacion.jpg);
    position: relative;
	text-decoration:none;
}

.imagen1 th a span{
	font-size:13px;
	text-decoration:none;
    width: 130px;
    height:200px;
    line-height: 18px;
    left: 100%;
    text-align:center;
    border: 2px solid  rgba(0,0,0,1);
	background-color: rgba(51,51,51,1);
	color:rgba(255,255,255,1);
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    bottom:50px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
	margin-bottom: -78px;
}

.imagen1 th a:hover span{
    opacity: 10;
    bottom: 70%;
	text-decoration:none;
}
/*Fin de la tabla de insertar curso*/