.header1{
	height:25%;
	width:100%;
}

td {
  font-weight: bold;
}

fieldset {
  margin-left: 3%;
  margin-top:1%; 
  width:35%;
  height:35%;
  border-radius: 30px;
  background-color:rgb(204,204,204);
  border:2px groove black;
}

caption {
  font-size: 16px;
  font-family: arial;
  color: black;
}

footer {
  background-color:#B0C4DE;
  color: #fff;
  /*width: 90%;
  margin-left:5%;*/
}

legend {
  color: #C50110;
  font-family: cursive, arial;
  font-size: 1.5em;
  text-shadow: 0.1em 0.18em white;

}

.codigo{
  width: 45%;
}

.ayuda{ 
  margin-left: 1.4%;
}

a:link   
{   
 text-decoration:none;   
}

.mover {
  margin-left: 7%;
}

.letras2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  background-color:rgb(204,204,204);
  color: black;
  text-align:center;
  padding: 0.8% 0% 0.8% 0%;
}

.letras1{  
  color: #AEAEAE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 50%; 
  font-size:1em; 
}

.input2{
	width:280px;
}


.table {
	border:6px groove #C80220;
	
}

.divfondo {
	border-style: solid;
  border-color: rgb(0,0,0);
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;
	background-color:rgb(188,3,31);
	width:90%;
	margin-left:3.5%;

}

.dibujo{
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	padding: 10px 10px 10px 5px;
	margin-left:3.5%;
	width:40%;
	height:40%;
	 
}

.img{
  width:28px;
  height:28px;
}
.img4{
	width:22px;
	height:22px;
}

.letras{
	color:rgba(255,255,255,1);
	text-align:center;
}

.letrasdiv1{ 
	font-size:1.3em;
	color: rgba(255,255,255,1);
	background-color:rgba(205,1,6,1);
  text-align:center;
  margin-bottom: 0.5%;
}

.tabla{
  width: 70%;

}

.bienvenidos{
  font-size:1.3em;
  color:rgba(255,255,255,1);
  text-decoration:none;
  padding:2%;
  font-weight:bold;
  text-shadow: -3px -3px 3px #000, 3px 3px 3px #000, -3px 3px 3px #000, 3px -3px 3px #000;
}

.tt-wrapper a{
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url(../images/informacion.jpg);
    position: relative;
	 text-decoration:none;
	 background-color:rgb(204,204,204);
	 z-index: 2;
}

.tt-wrapper a span{
	text-decoration:none;
    width: 140px;
    height:200px;
    line-height: 18px;
    left: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align:center;
    border: 2px solid  rgba(0,0,0,1);
	background-color: rgba(51,51,51,1);
	color:rgba(255,255,255,1);
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    bottom:50px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
	margin-bottom: -78px;
	z-index: 2;
}


.tt-wrapper a:hover span{
    opacity: 10;
    bottom: 70%;
	text-decoration:none;
	z-index: 2;

}


.botones1{
  background: #F00;
  background-image: -webkit-linear-gradient(top, #000, #999);
  background-image: -moz-linear-gradient(top, #000, #F00);
  background-image: -ms-linear-gradient(top, #000, #F00);
  background-image: -o-linear-gradient(top, #000, #F00);
  background-image: linear-gradient(to bottom, #000, #F00);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 7px 4px 8px #1c1a1c;
  -webkit-box-shadow: 4px 5px 6px #666666;
  -moz-box-shadow: 4px 5px 6px #666666;
  box-shadow: 4px 5px 6px #666666;
  font-family: cursive;
  color: #FFF;
  font-size: 14px;
  padding: 0.5%;
  margin-left: 1%;
  text-decoration: none;
  width: 10%;
  }

.botones1:hover{
	background: #FFF;
  background-image: -webkit-linear-gradient(top, #000, #999);
  background-image: -moz-linear-gradient(top, #000, #999);
  background-image: -ms-linear-gradient(top, #000, #999);
  background-image: -o-linear-gradient(top, #000, #999);
  background-image: linear-gradient(to bottom, #000, #999);
  text-decoration: none;
}

.botones2 {
  background: #54b2f0;
  background-image: -webkit-linear-gradient(top,#F00, #06F);
  background-image: -moz-linear-gradient(top, #F000, #06F);
  background-image: -ms-linear-gradient(top, #F00, #06F);
  background-image: -o-linear-gradient(top, #F00, #06F);
  background-image: linear-gradient(to bottom, #000, #06F);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 7px 4px 8px #1c1a1c;
  -webkit-box-shadow: 4px 5px 6px #666666;
  -moz-box-shadow: 4px 5px 6px #666666;
  box-shadow: 4px 5px 6px #666666;
  font-family: arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
  margin-left:2%;
  margin-right:2%;
}

.botones2:hover {
  background: #FFF;
  background-image: -webkit-linear-gradient(top, #000, #C50110);
  background-image: -moz-linear-gradient(top, #000, #C50110);
  background-image: -ms-linear-gradient(top, #000, #C50110);
  background-image: -o-linear-gradient(top, #000, #C50110);
  background-image: linear-gradient(to bottom, #000, #C50110);
  text-decoration: none;
}

.botones3 {
  width: 100%;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
