* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family:helvetica, arial, sans-serif;
	line-height:20px;
	position: relative;
}

.contenedor {
	width: 90%;
	max-width:900px;
	margin:auto;
}

article {
/*background:#C0E8F9;*/
	padding:20px;
	margin:20px 0;
	color:#FFFFFF;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

article h2 {
	color:#FFFFFF;
}

article hr {
	background: #F64740;
	height:5px;
	border:none;
}

article p {
	line-height: 25px;
}

article h2,
article p,
article hr {
	margin-bottom: 20px;
}

.seccion {
	padding-top: 70px;
}

.letra {
	color: #0513D8;
	text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000, -1px 1px 1px #FFFFFF, 1px -1px 1px #000000;
}

.vertical {
	vertical-align: middle;
}

.img-1 {
	width: 50%;
	height: 25%;
}

.img-2 {
	width: 50%;
	height: 25%;
}

.img-3 {
	width: 10%;
	height: 10%;
}