* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: helvetica, arial, sans-serif;
	line-height: 20px;
	position: relative;
}

.contenedor {
	width: 90%;
	max-width: 900px;
	margin: auto;
}

.seccion {
	padding-top: 110px;
}

article {
	color:#FFFFFF;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

article h2 {
	color: #d5d5d5;
	margin-top: -18px;
	margin-bottom: -20px;
	text-shadow: -1px -1px 1px #000000, 1px 1px 1px #000000, -1px 1px 1px #FFFFFF, 1px -1px 1px #000000;
}